version: '3.8'

services:
  # Сервис для backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "3001:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro 
    networks:
      - default
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # Сервис для relayer
  relayer:
    build:
      context: ./relayer
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "3002:3001"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - default
    restart: unless-stopped

  # Сервис для Postgres
  postgres:
    image: postgres:15-alpine
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Сервис для Redis
  redis:
    image: redis:7-alpine
    volumes:
      # Монтируем свой конфигурационный файл redis.conf в контейнер
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - default
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M

  bot:
    build: ./bot
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      ADMIN_ID: ${ADMIN_ID}
      STATS_IDS: ${STATS_IDS}
      WEB_APP_URL: ${WEB_APP_URL}
      TICKET_ROUTE: ${TICKET_ROUTE}
    networks:
      - default
    restart: always

  # Сервис для Nginx (для landing page и проксирования)
  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - default
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./frontend_main:/usr/share/nginx/main:ro          # Для ruble.website
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    command: ["nginx", "-g", "daemon off;"]

volumes:
  postgres_data:
    driver: local

networks:
  default:
    driver: bridge  # Используем общую сеть
