.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: #0f0f0f; /* Темный фон */
  color: #00ff00; /* Зеленый текст */
  font-family: 'Courier New', Courier, monospace;
}

.login h1 {
  color: #00ff88;
  font-size: 2rem;
  margin-bottom: 20px;
}

.login p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.login button {
  padding: 10px 20px;
  border: 1px solid #00ff00;
  background-color: transparent;
  color: #00ff00;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login button:hover {
  background-color: #00ff00;
  color: #0f0f0f;
}

.login .error-message {
  color: #ff5555;
  margin-top: 10px;
  font-weight: bold;
}
