/* Общий стиль для приложения */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Глубокий темный фон */
    color: white; /* Белый текст по умолчанию */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #121212; /* Темный фон для всего приложения */
  }
  
  .app-container {
    width: 100%;
    max-width: 400px; /* Ограничение для мобильных */
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
  }
  